.parallax{
  background: url(../imgs/black-and-white-business-chart-computer-241544.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
