.parallax-1{
  background: url(../imgs/black-and-white-business-chart-computer-241544.jpg);
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-2{
  background: url(../imgs/space-grey-ipad-air-with-graph-on-brown-wooden-table-187041.jpg);
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
}
